.container{
    background-color: black;
}
.navbar{
    background-color:cyan;
    border-radius: 30px;
    
}
  
.navbar ul{
    overflow:auto;
}

.navbar li{
    float: right;
    list-style: none;
    margin: 13px 20px;

}

.navbar li a{
    padding: 2px 2px;
    text-decoration: none;
    color:black;

}

.navbar li a:hover{
    color:rgb(80, 78, 78);
}

.box{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    }
    .card {
        padding: 50px;
        background-color: #fff;
        width: 80%;
        box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
        border-radius: 4px;
        display: flex;
        flex-direction:row;
        cursor: pointer;
        
        margin: auto;
        border-radius: 20px;
        
    }
.image{
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 70px;
    padding: 40px;
    
}
       
.new{
    display: flex;
    flex-direction: column;
    
}

.multiples{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top: 50px;
    margin-left: 70px;
    
    }
    .cardog {
        padding: 15px;
        width: 180px;
        box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
.card1-top {
    color: rgba(0,0,0,.6);
    font-size: 14px;
    text-transform: capitalize;
}
.card2-mid {
    font-size: 22px;
    font-weight: 700;
    margin:10px 0;
}
.card3-bottom {
    color: #e16259;
    font-size: 15px;
}

.bg{
    background-color: rgb(0, 238, 255);
}

